version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: banco_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../BaseDatos.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - red-bancaria

  redis-cache:
    image: redis:alpine
    container_name: redis-cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - red-bancaria

volumes:
  postgres_data:

networks:
  red-bancaria:
    name: red-bancaria
    driver: bridge